<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Search</ion-title>
    </ion-navbar>
    <!--<ion-toolbar color="secondary">
        <ion-title>Search</ion-title>
    </ion-toolbar>-->
<!--</ion-header>




<ion-header>-->
  <ion-toolbar color="light">
   
    <ion-segment>
      <ion-segment-button value="Title">
        Title
      </ion-segment-button>
      <ion-segment-button value="Author">
        Author
      </ion-segment-button>
    </ion-segment>
    <!--<ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>





<ion-content >
  
  <ion-row> 
    <ion-col width-90> 
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
     <ion-col width-10>
       	<ion-icon class="searchFilter" name="options" (click)=presentPopover($event)></ion-icon>
      </ion-col>
    </ion-row>





 <ion-card class="detailViewPage"  >
	<ion-row class="bookDiv">
		<ion-col width-33>
			<img class="img-thumbnail bookImg" src="./assets/images/9.png" alt="book Image">
		</ion-col>
		<ion-col width-67 class="rightAlign">
			<!--<ion-content >-->
				<span class="bookTitle">Title........</span><br>
				<span class="bookAuthor">Author.............<br></span>
				<!--<div class="bookRating">
                        <span class="glyphicon glyphicon-star" ng-repeat="star in $ctrl.getSize($ctrl.book.avgRating) track by $index"></span>
                    </div>-->
				<!--<rating [ngModel]="book.avgRating" readOnly="true" ></rating>-->
				<!--<span class="bookRenewDetails">Available: <span class="bookRenewTime">{{book.available}}</span></span>-->
			<!--</ion-content>-->
		</ion-col>
	</ion-row>

	<!--<ion-row>
		<ion-col>
			<button ion-button round ion-button color="danger" (click)="requestBook()" [disabled]=isDisabled>Request</button>
		</ion-col>
    </ion-row>

  <ion-content class="bookViewDetails detailViewshadowDiv">
        <ion-row class="bookViewDescription">
            <span>About the book</span>
        </ion-row >
        <span>{{book.description}}</span>
    </ion-content>-->

</ion-card>


 <ion-card class="detailViewPage"  >
	<ion-row class="bookDiv">
		<ion-col width-33>
			<img class="img-thumbnail bookImg" src="./assets/images/9.png" alt="book Image">
		</ion-col>
		<ion-col width-67 class="rightAlign">
			<!--<ion-content >-->
				<span class="bookTitle">Title........</span><br>
				<span class="bookAuthor">Author.............<br></span>
				<!--<div class="bookRating">
                        <span class="glyphicon glyphicon-star" ng-repeat="star in $ctrl.getSize($ctrl.book.avgRating) track by $index"></span>
                    </div>-->
				<!--<rating [ngModel]="book.avgRating" readOnly="true" ></rating>-->
				<!--<span class="bookRenewDetails">Available: <span class="bookRenewTime">{{book.available}}</span></span>-->
			<!--</ion-content>-->
		</ion-col>
	</ion-row>

	<!--<ion-row>
		<ion-col>
			<button ion-button round ion-button color="danger" (click)="requestBook()" [disabled]=isDisabled>Request</button>
		</ion-col>
    </ion-row>

  <ion-content class="bookViewDetails detailViewshadowDiv">
        <ion-row class="bookViewDescription">
            <span>About the book</span>
        </ion-row >
        <span>{{book.description}}</span>
    </ion-content>-->

</ion-card>

</ion-content>
