page-search {
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:white;
    }
    .searchFilter{
  margin-top: 0.5em;
    margin-left: -0.1em;
    font-size: 1.9em;
    
}
 
}
